<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Charley BEIGBEDER | WebDeveloper</title>

    <meta name="description" content="Développeur Freelance | Création de site internet | Agence Web">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Charley BEIGBEDER | WebDeveloper" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiokOzPkIngAhUSz4UKHaLqDeoQjRx6BAgBEAU&url=https%3A%2F%2Ffr.linkedin.com%2Fin%2Fcharley-beigbeder%2Fzh-cn&psig=AOvVaw0WAlYBEa2YF5TElfvQgzDH&ust=1548512467686482"/>
    <meta property="og:description" content="Développeur Freelance | Création de site internet | Agence Web" />
    <meta property="og:site_name" content="Charley BEIGBEDER | WebDeveloper" />


    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
